<h1>Canvas Demo</h1>

<div id="canvas_demo">
<canvas id="my_canvas" width="500" height="300"></canvas>

<p>
Click on the canvas to reload it
</p>

</div>

<style>
body{ margin:10px; background:#CCC; text-align: center;}
#my_canvas{ background:#FFF; border:#000 1px solid; }
</style>
