

<p>Counting with a global variable.</p>

<%= button_tag "Count!", :class => "btn btn-primary", :type => "button", :id => "count", :size => "166x66" %>

This will change the global variable
<%= button_tag "Change Count!", :class => "btn btn-primary", :type => "button", :id => "change_count", :size => "166x66" %>

<%= button_tag "Count with Closure!", :class => "btn btn-primary", :type => "button", :id => "count_closure", :size => "166x66" %>

<%= button_tag "Double with Closure!", :class => "btn btn-primary", :type => "button", :id => "double_closure", :size => "166x66" %>

<p id="demo">0</p>

<p id="closureAdd">0</p>

<p id="closureDouble">1</p>
