
<p>Date: <input type="text" id="dt1"></p>


<p>Date: <input type="text" id="dt2"></p>

Difference in days
<div id="daysDifference"></div>




<h2>Select a Date in first TextBox. Then click the Button to see how 3 days is added to this Date and shown in "Follow Date" TextBox.</h2>

<p>Date:
    <input id="txtDate" type="text" />
</p>
<p>
    <input id="getFutureDate" type="button" value="Fill Follow Date" />
    <!-- <input type="button" onclick="getdate()" value="Fill Follow Date" /> -->
</p>

<p>Number of Days to Add: <input type="text" id="numofdays"></p>

<p>Follow Date:
    <input id="follow_Date" type="text" />
</p>
