
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Difference Between Two Dates</a></li>
    <li><a href="#tabs-2">Find Future Date</a></li>
  </ul>
  <div id="tabs-1">


    <p>Date: <input type="text" id="dt1"></p>


    <p>Date: <input type="text" id="dt2"></p>

    Difference in days
    <div id="daysDifference"></div>

  </div>
  <div id="tabs-2">


    <h2>Select a Date in first text box.
      Enter a number of days and press enter
      to add this number of days to the first Date.</h2>

    <p>Date:
        <input id="txtDate" type="text" />
    </p>

    <p>Number of Days to Add: <input type="text" id="numofdays"></p>

    <p>
        <input id="getFutureDate" type="button" value="Fill Follow Date" />
        <!-- <input type="button" onclick="getdate()" value="Fill Follow Date" /> -->
    </p>

    <p>Follow Date:
        <input id="follow_Date" type="text" />
    </p>
  </div>
</div>
