<h1> Etch a Sketch </h1>

<div id="etch_container">

<%= button_tag "Clear Grid", :class => "btn btn-primary",
:type => "button", :id => "clear_grid_button", :size => "166x66" %>

<br>
<br>

<div id="etch_sketch_wrapper"></div>
</div>
