
<%= button_tag "Clear Grid", :class => "btn btn-primary",
:type => "button", :id => "clear_grid_button", :size => "166x66" %>

<div id="etch_sketch_wrapper"></div>


<style>
#wrapper-etch {
  width: 480px;
  height: 480px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  /*background: #000000;*/
}
.row-etch {
  width: auto;
  height: 60px;
  margin: 0px;
  padding: 0px;
  /*height: 100px;*/
  /*background: #313131;*/
}
.square-etch {
  width: auto;
  height: auto;
  width: 60px;
  height: 60px;
  margin: 0px;
  padding: 0px;
  outline: 1px solid;
  display: inline-block;
  /*float: left;*/
  background: #FFFFFF;
}
</style>
