hi
  <div id="etch_sketch_container">
  </div>


<div id="wrapper"></div>


<style>
#wrapper {
    width: auto;
    height: auto;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    /*background: #000000;*/
}
.row {
  width: auto;
  height: 10px;
    margin: 0px;
    padding: 0px;
    /*height: 100px;*/
    /*background: #313131;*/
}
.square {
  width: auto;
    height: auto;
    width: 10px;
    height: 10px;
    margin: 0px;
    padding: 0px;
    outline: 1px solid;
    display: inline-block;
    /*float: left;*/
    background: #FFFFFF;
}
</style>
