<% provide(:title, "Fun") %>


<div id="jumb2">
  <div class="pic">
    <%= image_tag "img2.jpg" %>
  </div>
  <div class="pic">
    <%= image_tag "img1.jpg" %>
  </div>
  <div class="pic">
    <%= image_tag "img2.jpg" %>
  </div>
</div>
