<% provide(:title, "home") %>

<div class="center jumbotron">

  <h1>Hello world</h1>

  <p>My name is Bryant Tunbutr and I am a Web Developer living in Southern California.</p>
  <!-- <p>I build customized web applications.</p> -->
  <p>I love to learn, build, and share my coding knowledge...</p>

  <!-- <p>Feel free to take a look around and see what I have accomplished, what I am building, and what I dream of doing.</p> -->
</div>

<div class="icons">
  <h1>At Your Service</h1>

  <!-- <div class="hr"><hr /></div> -->


  <hr>

  <%= image_tag("core-java.jpg", :height => "22%", :width => "22%")%>
  <p>Java</p>
  <%= image_tag("ruby-on-rails.jpg", :height => "22%", :width => "22%")%>
  <p>Ruby on Rails  </p>
  <%= image_tag("js.jpg", :height => "22%", :width => "22%")%>
  <p>JavaScript    </p>

  <br>
  <br>

  <a href="https://github.com/bryantt23">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-github fa-stack-1x fa-inverse"></i>
    </span>
  </a>
  <a href="https://www.linkedin.com/in/bryanttunbutr">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
    </span>
  </a>
  <a href="mailto:BTunbutr@gmail.com">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
    </span>
  </a>

</div>
