<h1>Welcome to my webpage</h1>
<% provide(:title, "Home") %>
<p>Here is my description</p>


<p>my description will have links to the appropriate github repository</p>
<p>at the footer will be buttons to github, linked in, email me</p>
