<% provide(:title, "home") %>

<div class="center jumbotron">

  <h2>At Your Service</h2>

  <div class="hr"><hr /></div>


  <%= image_tag("core-java.jpg", :height => "22%", :width => "22%")%>
  <p>Java</p>
  <%= image_tag("ruby-on-rails.jpg", :height => "22%", :width => "22%")%>
  <p>Ruby on Rails  </p>
  <%= image_tag("js.jpg", :height => "22%", :width => "22%")%>
  <p>JavaScript    </p>

  <br>
  <br>

  <a href="https://github.com/bryantt23">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-github fa-stack-1x fa-inverse"></i>
    </span>
  </a>
  <a href="https://www.linkedin.com/in/bryanttunbutr">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
    </span>
  </a>
  <a href="mailto:BTunbutr@gmail.com">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
    </span>
  </a>

</div>
