
<% provide(:title, "Home") %>


<div class="center jumbotron">
  <h1>Welcome to my webpage</h1>
  <!-- </div> -->

  <p>Here is my description</p>
  <p>It's going to be short, just I love coding</p>
  <p>I know Java and Ruby on Rails</p>
  <p>cut that down to 2-3 paragraphs</p>

  <p>my description will have links to the appropriate github repository</p>
  <p>at the footer will be buttons to github, linked in, email me</p>

  <!-- <div class="center jumbotron"> -->
  <%= link_to "github", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "linked in", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "email me", '#', class: "btn btn-lg btn-primary" %>
</div>
