
<div id="accordion">
  <h3 id="mystery_music">Show Answer</h3>
  <div>
    <p>
      The music is from The Phantom of the Opera.
    </p>
  </div>
</div>
<!--
<script>
$(function() {
$( "#accordion" ).accordion();
});
</script> -->
