<% provide(:title, "Projects") %>

<h1>Projects</h1>

<h3>Here are some of my recent projects</h3>


<%= link_to "Carousel Pics", carousel_path %>
<p>I built this using the Owl Carousel Gem. It is responsive to Touch Screens.</p>


<%= link_to "Lite-Brite", litebrite_path %>
<p>I built this using the JQuery. There is even a random colors option.</p>


<%= link_to "Contact Form", new_contact_form_path %>
<p>I built this using a combination of the Simple Form and Mail Form Gems.
  I receive emails from Heroku through SendGrid.
</p>


<h4>And More to Come...</h4>
