<div id="wrap">
    <div id="left_col">
<!-- we add to our foodList from the value of the following input -->
<input type="text" value="Pros" id="addFood" />
<!-- we call addToFood(); through the following button -->
<div id="button1">
<input type="submit" value="Add Pros" onClick="addToFood();">
</div>
    <!-- The list of food is displayed in the following div -->
<div id="foods"></div>
<br>





    </div>
    <div id="right_col">
<!-- we add to our foodList from the value of the following input -->
<input type="text" value="Cons" id="addFood2" />
<!-- we call addToFood(); through the following button -->

    <div id="button2">
<input type="submit" value="Add Cons" onClick="addToFood2();">
    </div>
<!-- The list of food is displayed in the following div -->
<div id="foods2"></div>

    </div>
</div>
