<ul id="pros_cons">
  <li class="left-half">
    <article>
      <h1>Left Half</h1>
      <p>Weekends don't count unless you spend them doing something completely pointless.</p>
    </article>
  </li>
  <li class="right-half">
    <article>
      <h1>Right Half</h1>
      <p>If your knees aren't green by the end of the day, you ought to seriously re-examine your life.</p>
    </article>
  </li>
</ul>
