
<div id="rain-body">

  <h2>Click on the Cloud to Make It Rain</h2>

<div id="cloud">
<i class="fa fa-cloud fa-6"></i>
<!-- <i class="fa fa-cloud fa-6"></i> -->
</div>




<!-- <%= link_to image_tag(src='dark-cloud.jpg', alt: "image",  class:"img-responsive", id:"cloud" ) %> -->
<div id="site">
    <div id="snowZone"></div>
</div>

</div>
