<!--
<%= image_tag "liquor/0.jpg" %> -->


<div id="liquorContainer">
<img src="images/liquor/0.jpg" name="randimg" border=0>
</div>

<%= button_tag "Buy me a drink", :class => "btn btn-primary", :type => "button", :id => "buyDrinkButton", :size => "166x66" %>
