<h1>Search for recipes</h1>

<!-- http://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_form_submit -->
Enter your ingredient: <input type="text" id="ingredient_name"><br><br>

<button class="btn btn-default" id="searchForRecipesButton">Search</button>
<br>
<br>

<div class="no-bullets">
<div id="showRecipes"></div>
</div>
