
<p>Search for recipes</p>

<!-- http://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_form_submit -->
Enter your ingredient: <input type="text" id="ingredient_name"><br><br>
<button id="searchForRecipesButton">searchForRecipes</button>
<div id="showRecipes"></div>
