<h1>Reflection</h1>

<p>It has been over 30 days since I began building a site every day and blogging about it.
Here are my reflections...</p>

<div id="reflection_tabs">
  <ul>
    <li><a href="#reflection_tabs-1">What did I do well?</a></li>
    <li><a href="#reflection_tabs-2">What would I have done differently?</a></li>
    <li><a href="#reflection_tabs-3">What will the future hold?</a></li>
  </ul>
  <div id="reflection_tabs-1">

    <ul>
      <li>Built a site every day, even if meant making something basic.</li>
      <li>Wrote two posts on <a href="https://bryanttunbutr.wordpress.com/2015/08/12/how-to-build-an-amazing-resume-for-career-changers/">Building a Resume</a> and on <a href="https://bryanttunbutr.wordpress.com/2015/08/25/how-to-get-free-coding-help/">Free Learning Resources</a>.</li>
      <li>Used Ruby on Rails, AJAX, APIs. Discovered that I really enjoy JavaScript and JQuery.</li>
      <li>Improved my ability to Google, use StackOverflow, read documentation, learn and refactor others' code.</li>
      <li>Reused, improved, and built upon my code from previous days, i.e. from using setInterval to change the <a href="https://bryanttunbutr.wordpress.com/2015/08/04/make-the-background-color-continuously-change/">Background Colors</a> to building a <a href="https://bryanttunbutr.wordpress.com/2015/08/11/basic-pomodoro-timer/">Pomodoro Timer</a> to creating a <a href="https://bryanttunbutr.wordpress.com/2015/08/24/meditation-timer/">Meditation Timer</a>. The concept/function was the same, but the complexity increased.</li>
      <li>Built a simple site about JavaScript <a href="https://bryanttunbutr.wordpress.com/2015/08/25/fun-with-closures/">Closures</a> that helped me understand the concept by using it. I learned that sometimes the best way to learn a concept is to build it and then teach it and I am definitely going to do this more going forward...</li>
      <li>Focused on fun and building what I wanted, i.e. <a href="https://bryanttunbutr.wordpress.com/2015/08/22/calendar-and-date-tool/">Date Calendar</a> and the <a href="https://bryanttunbutr.wordpress.com/2015/08/05/compound-interest-calculator/">Compound Interest Calculator</a></li>
    </ul>
  </div>
  <div id="reflection_tabs-2">
    <ul>
      <li>Start as early in the day as possible to not feel rushed.</li>
      <li>Use more vanilla HTML, CSS, JavaScript. If Rails is not making my building easier, then ditch it. Plus sometimes it is great to learn and build at a lower or different level.</li>
      <li>Use more tutorials. If something is new to me, i.e. HTML5 Canvas, then use a tutorial. Just make sure to comment and understand everything I can and also add one or two new features if possible. Also make sure to use the tutorial(s) as a stepping stone. Basically take advantage of the crutch until I am ready to walk on my own.</li>
      <li>Build more simple and fun sites. The simple and fun sites are confidence boosters and also give my subconscious ideas about future sites.</li>
    </ul>
  </div>
  <div id="reflection_tabs-3">
    <ul>
      I don't know. It is like an adventure because it is scary and exciting. But here are some things I am thinking of playing with. I may not do any of this, but I may do all of these things. Time will tell....
      <br>
      <br>

      <li>More Rails sites.</li>
      <li>Play around with more JQuery Plugins.</li>
      <li>Experiment with Angular, React, or Node.</li>
      <li>Responsive CSS design with breakpoints.</li>
      <li>Explain and demonstrate concepts with code.</li>
      <li>Add onto previous projects.</li>
      <li>Redo previous sites but with a different technology.</li>
      <li>Learn, build, and share even more....</li>
    </ul>
  </div>
</div>

<style>
.ui-widget-content a:link { color: blue; }
.ui-widget-content a:visited { color: blue; }
</style>
