<% provide(:title, "Resources") %>

<h1>Helpful Resources</h1>

<h3>Java Resources</h3>

<a href="https://www.youtube.com/playlist?list=PLFE2CE09D83EE3E28">Java Programming Tutorials</a>

<p>
Very helpful introductory Java videos
</p>

<a href="https://www.youtube.com/playlist?list=PLF206E906175C7E07">Design Patterns Video Tutorials</a>

<p>
Design Patterns videos
</p>

<a href="https://www.youtube.com/playlist?list=PLGLfVvz_LVvReUrWr94U-ZMgjYTQ538nT">Java Algorithms
</a>

<p>
Amazing introduction to Data Structures and Algorithms
</p>


<a href="http://codingbat.com/">CodingBat</a>

<p>
Practice your Java skills with a series of fun and free challenges
</p>

<h4>Java Books</h4>
<a href="http://www.amazon.com/dp/0596007124/">Head First Design Patterns</a>
<br></br>
<a href="http://www.amazon.com/Head-First-Java-2nd-Edition/dp/0596009208/">Head First Java</a>

<p>
Amazing series that teaches computer science using pictures, a conversational tone, and humor
</p>



<h3>Ruby on Rails Resources</h3>

<a href="http://www.theodinproject.com/">The Odin Project</a>

<p>
  A free curriculum designed to build full stack developers
</p>

<a href="https://www.facebook.com/groups/TOPSTUDYGROUP/">The Odin Project Study Group</a>

<p>
Facebook Study Group for The Odin Project
</p>



<a href="https://github.com/bryantt23/odin-project-beginnings">The Odin Project Beginnings</a>

<p>
Start collaborating and learning with Git, GitHub, HTML, and CSS
</p>


<a href="http://everydayutilitarian.com/essays/notes-on-the-odin-project/">Notes on The Odin Project
</a>

<p>
  Guide to the Odin Project
</p>

<a href="https://www.youtube.com/playlist?list=PL23ZvcdS3XPLNdRYB_QyomQsShx59tpc-">12 Rails Apps in 12 Weeks
</a>

<p>
  Awesome step by step Ruby on Rails videos
</p>



<a href="https://www.railstutorial.org/">The Ruby on Rails Tutorial</a>

<p>
Incredibly but helpful, but takes time to fully grasp</p>

<h3>General Resources</h3>

<a href="http://www.Meetup.com">Meetup</a>

<p>
  Meet other coders. Can do presentations and learn, teach, collaborate with and help others
</p>


<a href="http://www.vikingcodeschool.com/posts/why-learning-to-code-is-so-damn-hard">
  Why Learning to Code is So Damn Hard
</a>

<p>
  Sums up the coding journey of many
</p>


<a href="http://techcrunch.com/2014/05/24/dont-believe-anyone-who-tells-you-learning-to-code-is-easy/">
  Don't Believe Anyone Who Tells You Learning to Code is Easy
</a>

<p>
  Great formula for learning
</p>

<a href="https://www.persevy.com/">
  Persevy Timer
</a>

<p>
  Pomodoro Technique Timer
</p>

<a href="http://freemind.sourceforge.net/wiki/index.php/Main_Page">
  FreeMind - Free Mind Mapping Software
</a>

<p>
Great way to organize and learn information
</p>
