<% provide(:title, "Resources") %>

<h1>StaticPages#resources</h1>

<a href="http://www.Meetup.com">Meetup</a>

<p>
  Meet other coders. Can do presentations and learn, teach, collaborate with and help others
</p>

<a href="http://www.theodinproject.com/">The Odin Project</a>

<p>
  A free curriculum designed to build full stack developers
</p>

<a href="http://everydayutilitarian.com/essays/notes-on-the-odin-project/">Notes on The Odin Project
</a>

<p>
  Guide to the Odin Project
</p>

<a href="https://www.youtube.com/playlist?list=PL23ZvcdS3XPLNdRYB_QyomQsShx59tpc-">12 Rails Apps in 12 Weeks
</a>

<p>
  Awesome step by step Ruby on Rails videos
</p>

<a href="http://www.vikingcodeschool.com/posts/why-learning-to-code-is-so-damn-hard">
  Why Learning to Code is So Damn Hard
</a>

<p>
  Sums up the coding journey of many
</p>

<a href="https://www.persevy.com/">
  Persevy Timer
</a>

<p>
  Pomodoro Technique timer
</p>

<a href="http://techcrunch.com/2014/05/24/dont-believe-anyone-who-tells-you-learning-to-code-is-easy/">
  Don't Believe Anyone Who Tells You Learning to Code is Easy
</a>

<p>
  Great formula for learning.
</p>
