
<h1>360 Rotation</h1>

<div class="rotating_pics">

<h3>Spin the Fish Pottery</h3>
  <img src="DSCN0691.JPG" width="210" height="186"
   class="reel"
   id="image"
   data-images="DSCN####.JPG|691..702">

<br>

   <h3>Rotate the Koopa Troopa</h3>
   <img src="IMG_0686.JPG" width="640" height="480"
    class="reel"
    id="image"
    data-images="IMG_0###.JPG|686..693"
    draggable	=true
    >

 <br>
 Simply click on the image and watch it rotate.


</div>
