
<h1>360 Rotation</h1>

<div class="rotating_pics">

<h3>Spin the Fish Pottery</h3>
  <img src="images/rotating/DSCN0691.JPG" width="210" height="186"
   class="reel"
   id="image"
   data-images="images/rotating/DSCN####.JPG|691..702">

<br>

   <h3>Rotate the <%= link_to "Koopa Troopa", "http://amiamour.com/" %> </h3>
   <img src="images/rotating/IMG_0702.JPG" width="240" height="320"
    class="reel"
    id="image2"
    data-images="images/rotating/IMG_0###.JPG|702..708"
    draggable	=true
    >

 <br>
 Simply click on the image and watch it rotate.


</div>
