<h1>Scrambled Word</h1>

<div id="weather-info"></div>

<div id="theAnswer"></div>

<!-- <p>Here is the scrambled word</p> -->
<div id="scrambled-word">Here is the scrambled word:</div>

<button id="getScrambledWordButton">Get the Scrambled Word</button>

<!-- http://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_form_submit -->
Enter your guess: <input type="text" id="guessed-word"><br><br>
<!-- named this so i could use it in the js file -->
<!-- <button id="guessButton">Make a Guess</button> -->
<button id="checkButton">Check Guess</button>
<button id="getAnswer">Get the Answer</button>
<div id="yourGuess"></div>
<div id="guessResult"></div>

<div id="wrongGuesses"></div>
