<h1>Scrambled Word</h1>

<!-- <p>Here is the scrambled word</p> -->
<div id="scrambled-word"></div>

<div id="theAnswer"></div>
<br>

<!-- http://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_form_submit -->
<div id="enterGuessForm">
Enter your guess: <input type="text" id="guessed-word"><br><br>
</div>

<div id="guessResult"></div>

<%= button_tag "Check Guess", :class => "btn btn-primary", :type => "button", :id => "checkButton", :size => "166x66", :style => "display: none;" %>
<%= button_tag "Get the Answer", :class => "btn btn-primary", :type => "button", :id => "getAnswerButton", :size => "166x66", :style => "display: none;" %>

<%= button_tag "Get a Scrambled Word", :class => "btn btn-info", :type => "button", :id => "getScrambledWordButton", :size => "166x66" %>
