<!-- <img id="spinning", src='http://www.gravatar.com/avatar/00eb0dd8c3cd1298b05f09661f0c2b45?s=64' /> -->

<br>
<br>



<div id="rotateContainer">
<%= link_to image_tag(src='http://www.gravatar.com/avatar/00eb0dd8c3cd1298b05f09661f0c2b45?s=64', alt: "image",  class:"img-responsive" ) %>
<!-- <%= link_to image_tag("no_idea.jpg", alt: "image",  class:"img-responsive" ) %> -->
</div>

<br>
<br>




  <button class="btn btn-default" id="spin_me">Start</button>
