

<h1>
  Are you ready for your first programming job?
</h1>

<h3>
  Mark all that apply to you and please answer honestly....</h3>

<ul class="questions">
  <!-- This will be populated dynamically. -->
</ul>
<br>

<span id="span"></span>
Your Chance of Being Hired: <span id="usertotal"> </span>
<!-- maybe do as a percent -->
