<div id="container"><h1>Holmes and Rahe stress scale</h1>

<p>Select all of the applicable life events in the past 12 months: </p>

  <input type="checkbox" name="ch1" value="100" id="qr1" />Death of spouse: 100 <br />
  <input type="checkbox" name="ch1" value="73" id="qr1" />Divorce: 73 <br />
  <input type="checkbox" name="ch1" value="65" id="qr1" />Martial separation: 65 <br />
  <input type="checkbox" name="ch1" value="63" id="qr1" />Death of close family member: 63 <br />
  <input type="checkbox" name="ch1" value="53" id="qr1" />Personal injury or illness: 53 <br />
  <input type="checkbox" name="ch1" value="50" id="qr1" />Marriage: 50 <br />
  <input type="checkbox" name="ch1" value="47" id="qr1" />Fired at work: 47 <br />
  <input type="checkbox" name="ch1" value="45" id="qr1" />Marital reconciliation: 45 <br />
  <input type="checkbox" name="ch1" value="45" id="qr1" />Retirement: 45 <br />
  <input type="checkbox" name="ch1" value="44" id="qr1" />Change in health of a family member: 44<br />
  <input type="checkbox" name="ch1" value="40" id="qr1" />Pregnancy: 40 <br />
  <input type="checkbox" name="ch1" value="39" id="qr1" />Sex Difficulties: 39

  <br /><input type="checkbox" name="ch1" value="39" id="qr1" />Business readjustment: 39
  <br /><input type="checkbox" name="ch1" value="38" id="qr1" />Change in financial state: 38
  <br /><input type="checkbox" name="ch1" value="37" id="qr1" />Death of close friend: 37
  <br /><input type="checkbox" name="ch1" value="36" id="qr1" />Change to different line of work: 36
  <br /><input type="checkbox" name="ch1" value="35" id="qr1" />Change in number of arguments with spouse: 35
  <br /><input type="checkbox" name="ch1" value="31" id="qr1" />Mortgage over $3:000: 31
  <br /><input type="checkbox" name="ch1" value="30" id="qr1" />Foreclosure of mortgage or loan: 30


  <br /><input type="checkbox" name="ch1" value="29" id="qr1" />Change in responsibilities at work: 29
  <br /><input type="checkbox" name="ch1" value="29" id="qr1" />Son or daughter leaving home: 29
  <br /><input type="checkbox" name="ch1" value="29" id="qr1" />Trouble with in-laws: 29
  <br /><input type="checkbox" name="ch1" value="28" id="qr1" />Outstanding personal achievement: 28
  <br /><input type="checkbox" name="ch1" value="26"id="qr1" />Spouse begins or stops work: 26
  <br /><input type="checkbox" name="ch1" value="26" id="qr1" />Begin or end school: 26
  <br /><input type="checkbox" name="ch1" value="25" id="qr1" />Change in living conditions: 25
  <br /><input type="checkbox" name="ch1" value="24" id="qr1" />Revision in personal habits: 24
  <br /><input type="checkbox" name="ch1" value="23" id="qr1" />Trouble with boss: 23
  <br /><input type="checkbox" name="ch1" value="20" id="qr1" />Change in work hours or conditions: 20
  <br /><input type="checkbox" name="ch1" value="20" id="qr1" />Change in residence: 20
  <br /><input type="checkbox" name="ch1" value="20" id="qr1" />Change in schools: 20

  <br /><input type="checkbox" name="ch1" value="19" id="qr1" />Change in recreation: 19
  <br /><input type="checkbox" name="ch1" value="19" id="qr1" />Change in church activities: 19
  <br /><input type="checkbox" name="ch1" value="18" id="qr1" />Change in social activities: 18
  <br /><input type="checkbox" name="ch1" value="17" id="qr1" />Mortgage or loan less than $30,000: 17
  <br /><input type="checkbox" name="ch1" value="16" id="qr1" />Change in sleeping habits: 16
  <br /><input type="checkbox" name="ch1" value="15" id="qr1" />Change in number of family get-togethers: 15
  <br /><input type="checkbox" name="ch1" value="15" id="qr1" />Change in eating habits: 15
  <br /><input type="checkbox" name="ch1" value="13" id="qr1" />Vacation: 13
  <br /><input type="checkbox" name="ch1" value="12" id="qr1" />Christmas alone: 12
  <br /><input type="checkbox" name="ch1" value="11" id="qr1" />Minor violations of the law: 11
  <br />




</div>

<br>

  <span id="span"></span>
  Life Change Units: <span id="usertotal"> </span>

  <br>
  <a href="https://en.wikipedia.org/wiki/Holmes_and_Rahe_stress_scale" >Holmes and Rahe stress scale</a>
