

<h1>
  Appending An Array Of jQuery Objects To The DOM
</h1>

<ul class="friends">
  <!-- This will be populated dynamically. -->
</ul>
<br>

<span id="span"></span>
Life Change Units: <span id="usertotal"> </span>
