<div class="header">
            <h1>Split the Bill</h1>
        </div>
        <div>
            <table>
                <tbody>
                    <tr>
                        <td align="right">
                            Bill Total: $
                        </td>
                        <td text-align="left">
                            <input class="Total" type="text" name="Total">
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            Tip Percentage:
                        </td>
                        <td text-align="left">
                        <input class="Tip" type="text" name="Tip"> %
                        </td>
                    </tr>
                    <tr>
                    </tr>
                    <tr>
                        <td colspan=4 align="right">
                            <button>Calculate</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="price">
        </div>
