<div class="header">
  <h1>Split the Bill</h1>
</div>
<div>
  <table>
    <tbody>
      <tr>
        <td align="right">
          Bill Total: $
        </td>
        <td text-align="left">
          <input class="Total" type="text" name="Total">
        </td>
      </tr>
      <tr>
        <td align="right">
          Tip Percentage:
        </td>
        <td text-align="left">
          <input class="Tip" type="text" name="Tip"> %
        </td>
      </tr>
      <tr>

      </tr>
      <tr>
        <td colspan=4 align="right">
          <button>Calculate</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="price">
</div>

<h2>Enter the bill amount:</h2>
<input type="text" id="bill">
<br>

Tip percentage:
<input type="range" min="0" max="100" step="1" value="0" onchange="tipCalculate(this.value, 'bill')">
<span id="slideval">0%</span>

<h2>Tip to leave = <span id="tip"></span></h2>


<script>
function tipCalculate(slider, bill){
  var tip = document.getElementById('tip');
  var slideval = document.getElementById('slideval');
  var bill = document.getElementById(bill).value;
  var prcnt = slider * .01;
  slideval.innerHTML = slider+"%";
  tip.innerHTML = "$"+(bill * prcnt).toFixed(2);

}


</script>
