
<h1>PlatziWeather</h1>

<div id="weather-info"></div>

<!-- <main class="cards-group"> -->
<template id="template--city">
  <div class="card">
    <header class="card__header">
      <h3 data-city class="card__title"></h3>
      <h4 data-time class="card__time"></h4>
    </header>
    <div class="card__info">
      <img data-icon src="" class="card__image">
      <span data-temp='max' class="card__maxt"></span>
      <span data-temp='min' class="card__mint"></span>
      <span data-temp='current' class="card__temp"></span>
    </div>
  </div>
</template>

<!-- </main> -->


<p>Enter some text in the fields below, then press the "Submit form" button to submit the form.</p>

<!-- <form id="myForm" action="form_action.asp"> -->
City name: <input type="text" id="cname"><br>
<button id="weatherButton">Calculate</button>
<!-- </form> -->
