<!-- <div class="row"> -->
  <!-- <div class="col-md-5 col-md-offset-1"> -->
  <h1>Tasks</h1>
  <!-- </div> -->

  <div id="wide-button">

    <!-- <div class="col-md-2 col-md-offset-4"> -->
    <%= link_to new_task_path, remote: true do %>
    <button id="yellow-button">New Sticky Note</button>
    <% end %>
    <!-- </div> -->
  </div>
<!-- </div> -->

<!-- <div class="row"> -->
<div  id="task-form" style="display:none;"></div>
<!-- </div> -->

<div  id="tasks"><%= render @tasks %></div>
