<!DOCTYPE html>
<html>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body>

  <div data-ng-app="" data-ng-init="price=100;tipPercent=20;persons=1">

    <h2>Tip Calculator</h2>

    Meal Cost: <input type="number" ng-model="price" min=0 >
    <br>
    Tip Percent: <input type="number" ng-model="tipPercent" min=0>
    <br>
    Number of Persons: <input type="number" ng-model="persons" min=1  max=1000>
    <br>

    <p><b>Total in dollar:</b> {{(1+tipPercent/100) * price}}</p>

    <div>Total Meal Cost: {{(1+tipPercent/100) * price  | currency:currencySymbol}}</div>
    <div>Meal Cost Per Person: {{((1+tipPercent/100) * price) / persons | currency:currencySymbol}}</div>
  </div>


</body>
</html>
