<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>AngularJS Examples</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  <!-- Bootstrap core CSS -->
  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="http://getbootstrap.com/examples/sticky-footer/sticky-footer.css" rel="stylesheet">


  <link rel="stylesheet" href="css/styling.css" type="text/css">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <style>




  </style>
</head>


<body>


  <header class="plain-header">
    <div class="container">
      <nav>
        <ul class="nav navbar-nav navbar-left" id="home_link">
          <li><a href="http://bryanttunbutr.com/">Bryant Tunbutr</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://bryanttunbutr.wordpress.com/">Blog</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="mailto:BTunbutr@gmail.com">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>





  <div class="container" ng-app="sortApp" ng-controller="MainCtrl">

    <h1>AngularJS Examples</h1>
    <br>
    <p>Be sure to check out <a href="https://www.airpair.com/angularjs/posts/angularjs-tutorial">AngularJS: A 10,000 Word Guide</a>
      and also <a href="http://toddmotto.com/ultimate-guide-to-learning-angular-js-in-one-day/">AngularJS In One Day</a> for the full demonstration, explanations, and examples.</p>
    <br>

    <h4>The list below is the result of ng-repeat looping through and displaying an array:</h4>
    <div ng-controller="MainCtrl as main">
      <ul>
        <li ng-repeat="item in main.items">
          {{ item.name }}
        </li>
      </ul>

      <h4>The list below is from the same data as above. However it uses limitTo to gather only the first 3 items and then uses
        orderby to display these first 3 items in reverse alphabetical order.</h4>
        <ul>
          <li ng-repeat="item in main.items | limitTo:3 | orderBy:'-name'">
            {{ item.name }}
          </li>
        </ul>

        <h4>Display the current array length with .length</h4>
        {{ main.items.length }} in stock

        <h4>Displaying the <a href="https://docs.angularjs.org/api/ng/filter/date">date with formatting</a></h4>
        <p>
          Today's date: {{ timeNow | date:'fullDate' }}
        </p>

        <h4>This example uses | uppercase</h4>

        <input ng-model="msg" type="text" ng-init="msg='abcDEf'"/>
        <p>This pipe capitalizes the entire input: {{msg | uppercase}}</p>


        <h4>This example uses a filter to display only the numbers larger than the input</h4>
        <input type="number" ng-model="lowerBound" />
        <ul>
          <li ng-repeat="number in numbers | filter:greaterThanNum">
            {{ number }}
          </li>
        </ul>

        <h4>This example uses the directives ng-show and ng-click to Toggle the text below</h4>
        <a href="" ng-click="toggle = !toggle">Show/Hide</a>
        <ul ng-show="toggle">
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
        </ul>




      </div>
    </div>



    <!-- Footer -->

    <footer class="footer">
      <div class="container">

        <span style="float:left;">©2015 Bryant Tunbutr</span>

        <span style="float:right;">
          <a href="https://bryanttunbutr.wordpress.com/projects/" id="home">Projects</a>
          <a href="https://bryanttunbutr.wordpress.com/" id="blog" style="padding-left:20px">Blog</a></span>
        </div><!-- end Container-->
      </footer>


      <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

      <script>
      angular.module('sortApp', [])

      .controller('MainCtrl', function($scope) {
        this.items = [{
          name: 'Scuba Diving Kit',
          id: 7297510
        },{
          name: 'Snorkel',
          id: 0278916
        },{
          name: 'Wet Suit',
          id: 2389017
        },{
          name: 'Beach Towel',
          id: 1000983
        }];

        $scope.timeNow = new Date().getTime();

        $scope.numbers = [10, 25, 35, 45, 60, 80, 100];

        $scope.lowerBound = 42;

        $scope.greaterThanNum = function (item) {
          return item > $scope.lowerBound;
        };


      });


      </script>


    </body>
    </html>
