.clear {
  clear: both;
}

.grid {
//   width: 900px;
margin-top: 100px;
margin-bottom: 100px; 
z-index: 0;
}

.grid-element {
  width: 250px;
  height: 250px;
  float: left;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.clicked {
  height: 100%;
  width: 100%;
}
