// Place all the styles related to the litebrite controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 .h2color {
    color: red;
}

h1 .h1color {
    color: #39FF14;
}


button {
    border: 0px;
    font-family: Georgia, serif;
    background-color: #DDD;
    border-radius: 5px;
}

#buttonWrapper {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    // width: 263px;
}

#wrapperContainer {
    padding-right: 5px;
    padding-left: 5px;
}


#gridWrapper {
    // background-color: #FFF;
        background-color: black;
    // margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 320px;
    // width: 384px;
    // height: 384px;
    // width: 192px;
    // height: 192px;
    line-height: 0px;
}

.divGrid {
    display: inline-block;
    // background-color: #FFF;
    background-color: black;
    border: solid 1px #FFF;
    padding: 0px;
    margin:  0px;
    height:  20px;
    width:   20px;
    // height:  10px;
    // width:   10px;
    border-radius:50%
}

#colorWrapper {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    height: 20px;
}

.colorGrid {
    display: inline-block;
    padding: 0px;
    margin:  0px;
    height:  20px;
    width:   20px;
    border-radius:50%
}

#red{
    background-color: #F00;
    border-color:     #F00;
}

#orange{
    background-color: #FFA500;
    border-color:     #FFA500;
}

#yellow{
    background-color: #FFFF00;
    border-color:     #FFFF00;
}

#green{
    background-color: #0F0;
    border-color:     #0F0;
}

#blue{
    background-color: #00F;
    border-color:     #00F;
}

#purple{
    background-color: #FF00FF;
    border-color:     #FF00FF;
}

#white{
    background-color: #FFF;
    border-color:     #FFF;
}

#black{
    background-color: #000;
    border-color:     #000;
}

#footer{
    position: fixed;
    bottom: 0;
    right: 15px;
}
