<% provide(:title, "Lite-Brite") %>

<!-- <h1>Lite-<span class="h1color">Brite</span></h1> -->
<h1><span class="h2color">Lite-</span><span class="h1color">Brite</span></h1>


<div id="gridWrapper">

</div>

<div id="colorWrapper">
  <table>
    <tr>
      <div class="colorGrid" id="red"></div><div class="colorGrid" id="orange"></div><div class="colorGrid" id="yellow"></div>
      <div class="colorGrid" id="green"></div><div class="colorGrid" id="blue"></div><div class="colorGrid" id="purple"></div>
      <div class="colorGrid" id="white"></div><div class="colorGrid" id="black"></div>
    </tr>
  </table>
</div>

<div id="buttonWrapper">
<button class="btn btn-default" id="clear">Clear</button>
<button class="btn btn-default" id="randomColors">Random Colors</button>
<!--
  <button type="button" id="clear">Clear</button>
  <button type="button" id="randomColors">Random Colors</button> -->

</div>
