<footer class="footer">
  <small>
    © 2015 Bryant Tunbutr
  </small>
  <nav>
    <ul>
      <li><%= link_to "github",   '#' %></li>
      <li><%= link_to "linked in", '#' %></li>
      <li><%= link_to "email me", '#' %></li>
    </ul>
  </nav>
</footer>
