<footer class="footer">
  <small>
    © 2015 Bryant Tunbutr
  </small>
  <nav>
    <ul>
      <li><a href="https://github.com/bryantt23">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/bryanttunbutr">LinkedIn</a></li>
      <li><%= link_to "email me", '#' %></li>
    </ul>
  </nav>
</footer>
