
<div class="container">


  <%= link_to "Bryant Tunbutr", root_path, id: "logo" %>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "Blog",   "https://bryanttunbutr.wordpress.com/" %></li>

      <li>
        <li><%= link_to "Projects",  projects_path %></li>
      </li>

    </ul>
  </nav>
</div>
