<header class="sb-page-header">

    <%= render 'layouts/header_links' %>
  <!-- <div class="container">
    <%= link_to "Bryant Tunbutr", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Helpful Resources",   resources_path %></li>
      </ul>
    </nav>
  </div> -->

</header>
